body{
    background-color: black;
}
.wrapper{
    background-color: rgb(213, 86, 12);
    box-shadow: 1px 3px;
    font-size: 22px;
    text-align: center;
    height: 150px;
    margin-top: 10px;
    margin-left: 20px;
}
.Comment-text{
    width: 130px;
}
.user-info{
    padding-top: 6px;
    border-radius: 20px;
    width: 100px;
    border-color: azure;
    border: 1px solid;
}
.from-app{
    margin: 40px auto;
    padding: 30px;
    width: 500px;
    background-color: azure;
    box-shadow: none;
    display: flex;
    height: 400px;
}